.rebar3
_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
_build
.idea
*.iml
rebar3.crashdump
rebar3
apache_rocketmq_*
*_pb.erl
rebar.lock
erocketmq_dialyzer_*
*~
