{erl_opts, [debug_info]}.

{plugins,
 [ {grpc_plugin, {git, "https://github.com/HJianBo/grpc_plugin", {tag, "v0.10.2"}}}
 ]}.

{deps, [
    {grpc, {git, "https://github.com/emqx/grpc", {branch, "master"}}}
]}.

% {gpb_opts, [
%     {i, "proto"},
%     {f, ["desired_proto_file1.proto"]},
%     {module_name_suffix, "_pb"},
%     %{o, "path/to/out_dir"},    %% both .erl and .hrl are generated here
%     {o_erl, "src"},
%     {o_hrl, "include"},
%     strings_as_binaries, {maps, true}, {maps_oneof, flat},
%     {verify, always}, {maps_unset_optional, omitted},
%     type_specs]}.

%% Configurations for grpc_plugin
{grpc,
 [ {type, all}
 , {protos, ["proto/"]}
 , {out_dir, "src/"}
 , {gpb_opts, [
     {module_name_prefix, "erocketmq_"},
     {module_name_suffix, "_pb"},
     {i, "proto/"},
     strings_as_binaries, {maps, true}, {maps_oneof, flat},
     {verify, always}, {maps_unset_optional, omitted}
   ]}
 ]}.

{provider_hooks,
 [{pre, [{compile, {grpc, gen}},
         {clean, {grpc, clean}}]}
 ]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [erocketmq]}
]}.
